# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
venv/

# Логи
*.log

# Настройки IDE
.vscode/
.idea/

# Файлы среды
.env


db.sqlite3
*.sqlite3


burnished-block-442415-n4-0f8d850242ed.json
# local prod config
pravburo/settings.py
