# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Env / secrets
.env
.env.*

# Django / DB
db.sqlite3
*.sqlite3

# Collected static (но НЕ исходная static/)
staticfiles/

# User uploads / runtime data
media/
generated_docs/

# Logs / artifacts
*.log

# Generated documents / exports
*.pdf
*.xlsx


burnished-block-442415-n4-0f8d850242ed.json
# IDE
.vscode/
.idea/
