{% load static %}

<img src="{% static 'img/line2.svg' %}" alt="line2"
     class="absolute top-10 left-0 w-32 md:w-48">

<img src="{% static 'img/line3.svg' %}" alt="line3"
     class="absolute bottom-0 left-0 w-40 md:w-56">

<img src="{% static 'img/line4.svg' %}" alt="line4"
     class="absolute bottom-5 left-1/2 transform -translate-x-1/2 w-48 md:w-72">

<img src="{% static 'img/line5.svg' %}" alt="line5"
     class="absolute top-0 right-0 w-40 md:w-64">

<img src="{% static 'img/line7.svg' %}" alt="line7"
     class="absolute top-1/2 right-6 top-[700px] transform -translate-y-1/2 w-36 md:w-56">

<img src="{% static 'img/line8.svg' %}" alt="line8"
     class="absolute top-0 left-1/3 -translate-x-full w-[500px] md:w-[500px]">

<img src="{% static 'img/line9.svg' %}" alt="line9"
     class="absolute top-[500px] left-[500px] w-32 md:w-[400px]">