#root { min-height: 100vh; }
.MuiButton-contained { box-shadow: none !important; text-transform: none !important; font-weight: 700 !important; }
.MuiLinearProgress-bar { background: #38a9dc !important; }
.MuiLinearProgress-root { background: #dceff8 !important; }
