{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заявка успешно отправлена</title>
    <script src="{% static 'js/referral_success.js' %}" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">

    <div class="text-center">
        <div id="check-circle" class="mx-auto w-32 h-32 rounded-full bg-green-500/30 flex items-center justify-center scale-0 opacity-0">
            <svg class="w-16 h-16 text-green-700 scale-0 opacity-0" fill="none" stroke="currentColor" stroke-width="4" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
            </svg>
        </div>

        <!-- Текст -->
        <p id="success-text" class="mt-8 text-xl text-gray-700 opacity-0">Спасибо, свяжемся с вами в ближайшее время</p>
    </div>

</body>
</html>